
p {
    font-size: 16px;
    color: #444;
}

/* 通用类 */
.box {
    margin: 20px;
    padding: 10px;
}

/* 标签特定类 */
.header h1 {
    font-size: 32px;
    text-align: center;
}

/* a 标签专用类 hover 效果 */
.link {
    transition: 0.3s;
}

.link:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* 基础响应式 */
img, video {
    max-width: 100%;

}
